_mpd/SPLogger.apm
_mpd/SPLogger.pdb
_mpd/SPLogger.pdm
_mpd/SPLogger.sws
*.apm
_mpd/SPLogger-UT.pdm
_mpd/SPLogger-UT.pdb
_mpd/SPLogger-UT.pdm
_mpd/SPLogger-UT.pdb
_mpd/SPLogger-UT.pdm
_mpd/SPLogger-UT.pdb